<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/html">
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Chamados</title>
	<link rel="stylesheet" type="text/css" href="/styles/styles.css" />
	<link rel="stylesheet" type="text/css" href="/styles/styles-padrao.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>


<body>

	<div class="wrapper">
		<div class="sidebar">
			<h2>Lady Tech</h2>
			<ul>
				<li><a th:href="@{/called/consult-called}"><i class="fas fa-home"></i>Inicio</a></li>
				<li><a href="#"><i class="fas fa-user"></i>Perfil</a></li>
				<li><a th:href="@{/administrator/create-user}"><i class="fas fa-user-plus"></i>Cadastrar Usuário</a>
				</li>
				<li><a th:href="@{/administrator/create-technician}"><i class="fas fa-user-plus"></i>Cadastrar
						Técnico</a></li>
				<li><a th:href="@{/administrator/consult-users}"><i class="fas fa-search"></i>Consultar Usuários</a>
				</li>
				<li><a th:href="@{/called/consult-called}"><i class="fas fa-headset"></i>Chamados</a></li>
				<li><a th:href="@{/administrator/graphic-administrator}"><i class="fas fa-chart-pie"></i>Gráficos</a>
				</li>
				<li><a th:href="@{/autentication/logout}"><i class="fas fa-sign-in-alt"></i>Sair</a></li>
			</ul>
		</div>
	</div>


	<div class="container custom-container">
		<div class="row">
			<div class="col s12 offset-s1">
				<div class="card custom-card">
					<div class="card-content">
						<div class="row">


							<div class="container mt-5">
								<div class="row justify-content-center">
									<div class="col-md-8">
										<div class="table-container mt-5">
											<h1 class="font-titles">
												Lista da Chamados
											</h1>
											<table>
												<thead>
													<tr>
														<th>ID</th>
														<th>Título</th>
														<th>Data de Registro</th>
														<th>Prioridade</th>
														<th>Descrição</th>
														<th>Status</th>
														<th>Departamento</th>
														<th>Nome Técnico</th>
														<th>Usuário</th>
													</tr>
												</thead>
												<tbody>

													<tr th:each="chamado : ${chamados}">
														<td th:text="${chamado.idCalled}">ID</td>
														<td th:text="${chamado.title}">Título</td>
														<td th:text="${chamado.registerDate}">Data de Registro</td>
														<td th:text="${chamado.priority}">Prioridade</td>
														<td th:text="${chamado.description}">Descrição</td>
														<td th:text="${chamado.status}">Status</td>
														<td th:text="${chamado.departament}">Departamento</td>
														<td th:text="${chamado.technicalName}">Nome Técnico</td>
														<td th:text="${chamado.user.name}">Usuário</td>
													</tr>
												</tbody>
											</table>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>