<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/html">
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Histórico </title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css" />
    <link rel="stylesheet" type="text/css" href="/styles/styles-padrao.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>


<body>


<div class="wrapper">
    <div class="sidebar">
        <h2>Lady Tech</h2>
        <ul>
            <li><a href="#" ><i class="fas fa-user"></i>Bem vinda(o) <b th:text="${name}" /></a></li>
            <li><a th:href="@{/user/consult-called}"><i class="fas fa-home"></i>Inicio</a></li>
            <li><a th:href="@{/called/create-called}"><i class="fa fa-plus"></i> Novo chamado</a>
            </li>
            </li>
            <li><a th:href="@{/user/consult-called}"><i class="fas fa-headset"></i>Chamados</a></li>
            <li><a th:href="@{/autentication/logout}"><i class="fas fa-sign-in-alt"></i>Sair</a></li>
        </ul>
    </div>
</div>
<div class="container custom-container">
    <div class="row">
        <div class="col s12 offset-s1">
            <div class="card custom-card">
                <div class="card-content">
                    <div class="row">
                        <h1 class="font-titles">Chamados</h1>
                        <table>
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Usuário</th>
                                <th>Título</th>
                                <th>Data e Hora</th>
                                <th>Prioridade</th>
                                <th>Descrição</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="chamado : ${chamados}">
                                <td th:text="${chamado.id}">1</td>
                                <td th:text="${chamado.usuario}">Usuário A</td>
                                <td th:text="${chamado.titulo}">Tarefa 1</td>
                                <td th:text="${chamado.dataHora}">2024-05-07 10:00</td>
                                <td th:text="${chamado.prioridade}">Alta</td>
                                <td th:text="${chamado.descricao}">Caiu uma tecla do teclado.</td>
                                <td th:text="${chamado.status}">Aguardando técnico</td>
                            </tr>
                            <tr th:each="chamado : ${chamados}">
                                <td th:text="${chamado.id}">2</td>
                                <td th:text="${chamado.usuario}">Usuário B</td>
                                <td th:text="${chamado.titulo}">Tarefa 2</td>
                                <td th:text="${chamado.dataHora}">2024-05-08 12:00</td>
                                <td th:text="${chamado.prioridade}">Média</td>
                                <td th:text="${chamado.descricao}">Computador sem memória.</td>
                                <td th:text="${chamado.status}">Aguardando técnico</td>
                            </tr>
                            <tr th:each="chamado : ${chamados}">
                                <td th:text="${chamado.id}">3</td>
                                <td th:text="${chamado.usuario}">Usuário C</td>
                                <td th:text="${chamado.titulo}">Tarefa 3</td>
                                <td th:text="${chamado.dataHora}">2024-05-09 14:00</td>
                                <td th:text="${chamado.prioridade}">Baixa</td>
                                <td th:text="${chamado.descricao}">Preciso de um fone de ouvido.</td>
                                <td th:text="${chamado.status}">Aguardando técnico</td>
                            </tr>
                            <tr th:each="chamado : ${chamados}">
                                <td th:text="${chamado.id}">4</td>
                                <td th:text="${chamado.usuario}">Usuário D</td>
                                <td th:text="${chamado.titulo}">Tarefa 4</td>
                                <td th:text="${chamado.dataHora}">2024-05-03 14:00</td>
                                <td th:text="${chamado.prioridade}">Baixa</td>
                                <td th:text="${chamado.descricao}">Preciso trocar de pilha para por no mouse.</td>
                                <td th:text="${chamado.status}">Em atendimento</td>
                            </tr>
                            <tr th:each="chamado : ${chamados}">
                                <td th:text="${chamado.id}">5</td>
                                <td th:text="${chamado.usuario}">Usuário E</td>
                                <td th:text="${chamado.titulo}">Tarefa 5</td>
                                <td th:text="${chamado.dataHora}">2024-05-01 14:35</td>
                                <td th:text="${chamado.prioridade}">Alta</td>
                                <td th:text="${chamado.descricao}">Estou sem acesso.</td>
                                <td th:text="${chamado.status}">Escalado para outro setor</td>
                            </tr>
                            <tr th:each="chamado : ${chamados}">
                                <td th:text="${chamado.id}">6</td>
                                <td th:text="${chamado.usuario}">Usuário F</td>
                                <td th:text="${chamado.titulo}">Tarefa 6</td>
                                <td th:text="${chamado.dataHora}">2024-04-28 08:37</td>
                                <td th:text="${chamado.prioridade}">Média</td>
                                <td th:text="${chamado.descricao}">Login bloqueado.</td>
                                <td th:text="${chamado.status}">Finalizado</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- CARD TERMINA AQUI -->
</body>

</html>

